@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 350px;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 700px;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    color: #fff;
    font-size: 50px;
    letter-spacing: 10px;
}

.new-todo {
    background-color: hsl(235, 24%, 19%);
    height: 70px;
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}

.check-todo {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-marker  {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(237, 14%, 26%);
    cursor: pointer;
    transition: all .25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-marker:hover, .check-marker.checked {
    background: #f0f;
}

.todo-text.checked {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: transparent;
    outline: none;
    color: hsl(236, 33%, 92%);
}

.new-todo-input input::placeholder {
    color: hsl(235, 19%, 35%);
}

.todo-items-wrapper {
    margin-top: 30px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, .4);
}

.todo-item {
    width: 100%;
    display: flex;
    height: 70px;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    transition: all .25s ease;
    cursor: pointer;
}

.todo-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hls(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
    background-color: hsl(235, 24%, 19%);
}

.todo-text {
    display: flex;
    align-items: center;
    color: hsl(233, 11%, 84%);
}

.todo-items-info {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: hsl(235, 19%, 35%);
    justify-content: space-between;
}

.items-status span {
    padding: 0 5px;
    cursor: pointer;
}

.items-status span.active {
    color: hsl(220, 98%, 61%);
}

.items-clear {
    cursor: pointer;
}

.items-status span:hover,
.items-clear:hover {
    color: hsl(220, 98%, 61%);
}